.container {
    --height-feedback: 200px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.exerciseLayout {
    display: grid;
    grid-template-columns: 70% auto;
    grid-column-gap: 20px;
}

.containerList {
    transform: translateY(20px);
    animation: reveal var(--tr-base);
    height: stretch;

    box-sizing: border-box;
    padding: var(--mg-xl) 70px;
    border-radius: 20px;
    width: var(--exercise-width);
    height: 80vh;
    background: var(--bg-white);
}

.exerciseCheckboxList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(20px);
    }
}

.titleGroup {
    font-size: var(--fs-global);
    font-weight: 600;
    margin-bottom: var(--mg-md);
}
