.input {
    --height-input: 50px;

    border-radius: 10px;
    height: var(--height-input);
    border: 1px solid var(--c-grey-light);
    font-size: var(--fs-lg);
    width: fill-available;
    width: -moz-available;
    padding: 0 var(--pd-xl);
    margin: 0;
    outline: 1px solid transparent;
    // border-bottom: 2px solid var(--c-grey-light);
    // border-right: 2px solid var(--c-grey-light);
    box-shadow: 0px 0px 2px 2px transparent;
    transition: outline var(--tr-base), box-shadow var(--tr-base);

    &:hover {
        outline: 1px solid var(--c-grey-light);
        // box-shadow: 0px 0px 2px 0px var(--c-grey-light)
    }

    &:focus {
        outline: 1px solid var(--c-grey-light);
        box-shadow: 0px 0px 2px 1px var(--c-grey-light);
    }
}