.container {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        opacity: 0.8;
        transition: transform var(--tr-base), opacity var(--tr-base);
    }


    &:hover {
        color: var(--c-primary-dark);

        svg {
            opacity: 1;
            transform: scale(1.25);
        }
    }

    &[data-info].primaryLighter::after {
        background: var(--c-primary-lighter);

    }

    &[data-info]::after {
        content: attr(data-info);
        position: absolute;
        top: -110%;
        left: 0;
        padding: 10px 10px 10px 20px;
        width: 150px;
        background: hsla(4, 0%, 100%);
        border-radius: 10px;
        font-size: var(--fs-3xs);
        line-height: 15px;
        color: var(--grey-dark);
        font-style: normal;
        font-weight: 600;
        box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.11);
        opacity: 0;
        transition: opacity var(--tr-base);
    }

    &[data-info]:hover::after {
        opacity: var(--tr-fast);
        transition: opacity var(--tr-base) 0.3s;
    }
}


.infoText {

}