.container {
    cursor: pointer;
    position: relative;

    svg {
        height: 17px;
    }

    &:hover .infoOnHover {
        opacity: 1;
        pointer-events: all;
    }
}

.infoOnHover {
    position: absolute;
    pointer-events: none;
    background: var(--bg-white);
    opacity: 0;
    transition: opacity var(--tr-base);
    padding: var(--pd-xs) var(--pd-sm);
    box-shadow: var(--bs-global);
    border-radius: var(--br-sm);
    min-width: 100px;

    p {
        font-size: var(--fs-xs);
        margin: 0;
    }

    span {
        white-space: nowrap;
    }
}