.Button {
    --btn-fs: var(--btn-fs, var(--fs-global));

    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    height: var(--btn-height, 50px);
    width: fit-content;
    padding: 0 var(--pd-xl);
    margin: var(--btn-mg);
    border-radius: 10px;
    font-size: var(--btn-fs);
    font-weight: 500;
    color: var(--c-white);
    line-height: var(--btn-height, 50px);
    border: none;
    transition: background var(--tr-base);
    // background-color: ;

    svg {
        width: 22px;
        margin: auto;
        transform: translateX(-15px);
        transition: transform var(--tr-base);

        &:hover {
            transform: translateX(-15px) scale(1.2);
        }
    }

    svg[data-svg-arrow] {
        transform: rotate(-90deg);
    }
}

a.Button {
    text-decoration: none !important;
    padding-top: 0 !important;
    font-weight: 500;
}

.primaryDark {
    background-color: var(--c-primary-dark);
    color: var(--c-white) !important;

    svg {
        color: var(--c-white);
    }

    &:hover {
        background: var(--c-primary-darker);
    }
}

.primaryDarker {
    background-color: var(--c-primary-darker);
    color: var(--c-white) !important;

    svg {
        color: var(--c-white);
    }

    &:hover {
        background: var(--c-primary-dark);
    }
}

.primaryDarkReverse {
    color: var(--c-primary-dark);
    border: 2px solid var(--c-primary-dark);
    background-color: transparent;

    &:hover {
        background: var(--c-primary-dark);
        color: var(--c-font-white);
    }
}

.primary {
    background-color: var(--c-primary);

    &:hover {
        background: var(--c-primary-dark);
    }
}

.greyDark {
    background-color: var(--c-grey-darker);

    &:hover {
        background: var(--c-black-light);
    }
}

.primaryReverseNoInverse {
    color: var(--c-primary);
    border: 2px solid var(--c-primary);
    background-color: transparent;

    &:hover {
        color: var(--c-primary-dark);
        border-color: var(--c-primary-dark);
    }
}

.tertiary {
    background-color: var(--c-tertiary);

    &:hover {
        background: var(--c-tertiary-dark);
    }
}

.primaryReverse {
    color: var(--c-primary);
    border: 2px solid var(--c-primary);
    background-color: transparent;

    &:hover {
        background: var(--c-primary-lighter-hover);
        // color: var(--c-primary-dark);
        // border-color: var(--c-primary-dark);
    }
}

.greyReverse {
    color: var(--c-grey);
    border: 2px solid var(--c-grey);
    background-color: transparent;

    &:hover {
        background: var(--c-grey);
        color: var(--c-white);
        // border-color: var(--c-primary-dark);
    }
}

.transparent {
    background-color: transparent;
    color: var(--c-font-global);
}

.secondaryReverse {
    color: var(--c-secondary);
    border: 2px solid var(--c-secondary);
    background-color: transparent;

    &:hover {
        background: var(--c-secondary);
        color: var(--c-font-white);
    }
}

.tertiaryReverse {
    color: var(--c-tertiary);
    border: 2px solid var(--c-tertiary);
    background-color: transparent;

    &:hover {
        background: var(--c-tertiary);
        color: var(--c-font-white);
    }
}

.success {
    background-color: var(--c-success);

    &:hover {
        background: var(--c-success-dark);
    }
}

.error {
    background-color: var(--c-error);

    &:hover {
        background: var(--c-error-dark);
    }
}

.fullWidth {
    width: stretch;
    text-align: center;
    justify-content: center;
}

.inactive {
    pointer-events: all;
    background-color: var(--c-grey-light);
}

.lg {
    --btn-height: 60px;
    font-size: var(--fs-lg);
}

.xs {
    --btn-height: 35px;
    font-size: var(--fs-2xs);
}

.xsSquare {
    --btn-height: 35px;
    width: var(--btn-height);
    padding: 0;
    margin: 0;

    svg {
        height: 17px;
        margin: auto;
        transform: none;
    }

    &:hover svg {
        transform: scale(1.2);
    }
}

.square {
    --btn-square-height: 45px;

    position: relative;
    background: var(--c-grey-lighter);
    color: var(--c-font-global);
    // border: 2px dotted var(--c-grey-darker);

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: var(--btn-square-height);
        background-color: var(--c-grey-darker);
        border-radius: 10px;
    }

    svg {
        color: var(--c-white);
        left: 10px;
        height: 25px;
        width: 25px;
    }
}

.textOnHover {
    width: var(--btn-height);
    padding: 0;
    border: 1px solid var(--c-grey-lighter);

    svg {
        transform: none;
        color: var(--c-grey-dark);
    }

    &:hover {
        background: var(--c-grey-lighter);

        svg {
            // color: var(--c-white);
            transform: none;
        }

    }
}