.container {
    position: absolute;
    height: 70vh;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    opacity: 1;
}

.btnClose {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
}