.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--info-circle-height, 40px);
    width: var(--info-circle-height, 40px);
    border-radius: 25px;
    background: transparent;
    border: 1px solid var(--info-circle-color, var(--c-font-global));

    p.text {
        color: var(--info-circle-color-font, var(--c-font-global));
        margin: 0;
        font-weight: 600;
    }
}

