.sentenceContainer {
    display: grid;
    grid-template-columns: 80% 20%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--bg-main);
    padding: 20px 30px;
    border-radius: var(--br-base);
    margin-bottom: 25px;

    a {
        color: var(--text-light);
        text-decoration: none;
        font-weight: var(--fw-medium);
    }
}

.sentence {
    font-size: var(--fs-base);
}

.mainImage {
    border-radius: var(--br-base);
}