.titleContainer {
    display: flex;
    align-items: center;
    height: var(--height-opener);
    border-bottom: 1px dotted var(--c-grey-light);
}

.title {
    margin: 0;
    font-size: var(--fs-lg);
    font-weight: 600;
    color: var(--c-font-global-light);
}

.examplesContainer {
    margin: var(--mg-sm) 0 20px;
    background-color: var(--bg-main);
    padding: var(--pd-sm);
    border-radius: var(--br-base);

    p {
        margin: 0;
    }

    .translation {
        font-style: italic;
        font-weight: var(--fw-light);
        color: var(--c-font-global-light);
        font-size: var(--fs-2xs);
    }

    .tense {
        font-weight: var(--fw-light);
        color: var(--c-font-global-light);
        font-size: var(--fs-xs);
        margin-bottom: var(--mg-xs);
    }
}

.audioAndSentence {
    display: flex;
    align-items: center;
    width: fill-available;

    p {
        width: 100%;
        font-size: var(--fs-xs);
    }

    svg {
        color: var(--c-grey-dark);
        height: 20px;
        width: 20px;
        margin-left: var(--mg-sm);
    }
}