@mixin mobile {
    @media (max-width: 768px) { @content; }
}

@mixin mobile-tablet {
    @media (max-width: 1023px) { @content; }
}

@mixin mobile-tablet-vertical {
    @media (max-width: 1023px) and (max-aspect-ratio: 1/1) { @content; }
}

@mixin vertical {
    @media (max-aspect-ratio: 1/1) { @content; }
}

@mixin horizontal {
    @media (min-aspect-ratio: 1/1) { @content; }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 1023px) { @content; }
}

@mixin tablet-desktop {
    @media (min-width: 769px) { @content; }
}

@mixin vertical-900 {
    @media (max-height: 900px) { @content; }
}

@mixin vertical-750 {
    @media (max-height: 750px) { @content; }
}

@mixin desktop-sm {
    @media (min-width: 1024px) { @content; }
}

@mixin desktop {
    @media (max-width: 1600px) { @content; }
}

@mixin desktop-lg {
    @media (min-width: 1600px) { @content; }
}