.formation {
    --stem-formation-fw: 550;

    font-size: var(--fs-global);
    margin: var(--mg-md) 0;
    margin-bottom: var(--mg-sm);

    b {
        color: var(--c-font-global-lighter);
        font-weight: var(--stem-formation-fw);
    }

    u {
        text-decoration: none;
        color: var(--c-primary);
        font-weight: var(--stem-formation-fw);
    }

    i {
        color: var(--c-secondary);
        font-style: normal;
        font-weight: var(--stem-formation-fw);
    }
}