.container {
    --lesson-fs: var(--fs-global);
    --btn-mg: var(--mg-lg) 0 0 0;

    overflow: auto;
    height: 100%;
    margin-right: 20px;
    width: fit-content;
    // margin-bottom: 100px;

    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--c-grey-light) transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 6px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border: none;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--c-grey-light);
        border-radius: 20px;
        border: 3px solid transparent;
    }

    p {
        font-size: var(--fs-sm);
        font-weight: 400;
        color: var(--c-font-global-light);
    }

    a {
        position: relative;
        padding-top: var(--pd-xs);
        font-size: var(--lesson-fs);
        font-weight: var(--fw-medium);
        color: var(--c-f-global-lighter);
        transition: color var(--tr-base);
        text-decoration: underline;

        &:hover {
            color: var(--c-primary-dark);
        }
    }

    &.isPost h1:first-child,
    &.isPost h2:first-child {
        margin-top: 0;
    }

    &.isPost p {
        font-size: var(--lesson-fs);
    }

    h1, h2, h3 {
        font-weight: 800;
        color: var(--c-font-global);
        scroll-margin-top: 80px;
    }

    h1 {
        font-size: var(--fs-2xl);
    }

    h2 {
        font-size: var(--fs-xl);
    }

    h3 {
        font-size: var(--fs-lg);
    }

    b[data-verb-stem] {
        color: var(--c-verb-stem);
    }

    b[data-verb-prefix] {
        color: var(--c-verb-prefix);
    }

    &.isPost {
        overflow: visible;

        h1 {
            font-size: var(--fs-3xl);
        }

        h2 {
            font-size: var(--fs-2xl);

            &:not(:first-child) {
                margin-top: 45px;
            }
        }

        h3 {
            font-size: var(--fs-xl);
            margin-top: var(--mg-2xl);
            margin-bottom: var(--mg-md);
        }
    }
}

.item {
    margin-bottom: var(--mg-lg);
    margin-top: var(--mg-lg);

    p {
        margin: 0;
        padding: 0;
    }
}

.list {
    padding-left: var(--pd-lg);
}

.listMargin {
    margin-left: 20px;
}

.containerExample {
    --fs-example: var(--fs-xs);

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--mg-sm);
    color: var(--c-font-global-light);

    a {
        color: var(--c-font-global-light);
        font-weight: var(--fw-regular);
        text-decoration: none;
    }

    svg {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin-top: 1px;
        animation: transform var(--tr-base);

        path {
            stroke-width: 20;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: var(--fs-xs);
        font-weight: 300;
        margin: 0;
    }

    & > p {
        margin-right: var(--mg-sm);

    }

    span {
        margin-left: var(--mg-sm);
    }
}

.containerExampleAndTranslation {
    i {
        display: block;
        font-size: var(--fs-example);
        color: var(--c-font-global-light);
        margin-top: var(--mg-xs);
        font-weight: var(--fw-light);
    }
}

.tableContainer {
    position: relative;
    color: var(--c-font-global);
    width: fit-content;
    margin-bottom: var(--mg-md);

    svg[data-svg-audio] {
        position: absolute;
        top: 12px;
        right: 60px;
        height: 20px;
        z-index: 10;
    }
}

.table {
    --table-pd-side: var(--pd-xl);

    padding: 0 var(--table-pd-side);
    // background: var(--c-primary-lighter);
    border-radius: var(--br-base);
    border: 2px solid var(--c-grey-light);
    border-style: dotted;

    .heading,
    .value {
        font-size: var(--fs-sm);
    }

    .value {
        b {
            color: var(--c-font-global);
        }

        u {
            text-decoration: none;
            color: var(--c-verb-stem);
            font-weight: var(--fw-medium);
        }

        b[data-verb-stem] {
            color: var(--c-verb-stem);
        }

        b[data-verb-prefix] {
            color: var(--c-verb-prefix);
        }

        i {
            font-style: normal;
            color: var(--c-verb-prefix);
            font-weight: var(--fw-medium);
        }

        &.prefix {
            font-weight: var(--fw-medium);
            color: var(--c-verb-prefix);
        }
    }

    .heading {
        font-weight: 600;
        text-align: left;
        height: 35px;
        min-width: 125px;
    }

    .headings {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            height: 5px;
            bottom: 0;
            left: calc(var(--table-pd-side) * -1);
            width: calc(var(--table-pd-side) * 2 + 100%);
            background: transparent;
            border: none;
            border-bottom: 2px solid var(--c-grey-light);
            border-bottom-style: dotted;
        }
    }

    .row {
        position: relative;

        &:not(:last-child):after {
            content: '';
            position: absolute;
            height: 5px;
            bottom: 0;
            left: calc(var(--table-pd-side) * -1);
            width: calc(var(--table-pd-side) * 2 + 100%);
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--c-grey-light);
            border-bottom-style: dotted;
        }
    }

    .rowBackground {
        background-color: var(--c-primary-lighter);
    }

    .headings,
    .row {
        height: 30px;
    }
}

.inlineParagraph {
    p {
        display: inline;
    }
}