.container {
    overflow: auto;
    height: 100%;
    margin-right: 20px;
    width: fit-content;

    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--c-grey-light) transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 6px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border: none;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--c-grey-light);
        border-radius: 20px;
        border: 3px solid transparent;
    }

    p {
        font-size: var(--fs-sm);
        font-weight: 400;
        color: var(--c-font-global-light);
    }

    &.isPost p {
        font-size: var(--fs-global);
    }

    h1, h2, h3 {
        font-weight: 800;
        color: var(--c-font-global);
        scroll-margin-top: 80px;
    }

    h1 {
        font-size: var(--fs-2xl);
    }

    h2 {
        font-size: var(--fs-xl);
    }

    h3 {
        font-size: var(--fs-lg);
    }

    b[data-verb-stem] {
        color: var(--c-verb-stem);
    }

    b[data-verb-prefix] {
        color: var(--c-verb-prefix);
    }
}

.item {
    margin-bottom: var(--mg-lg);

    p {
        margin: 0;
        padding: 0;
    }
}

.list {
    padding-left: var(--pd-lg);
}

.containerExample {
    --fs-example: calc(var(--fs-xs) + 0.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-left: var(--mg-xs);
    color: var(--c-primary-dark);

    svg {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin-top: 1px;
        animation: transform var(--tr-fast);

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: var(--fs-example);
        color: var(--c-primary-dark);
        margin: var(--mg-xs) var(--mg-sm) 0 0;
    }

    span {
        margin-left: var(--mg-sm);
    }

    a {
        font-size: var(--fs-example);
        font-weight: 600;
        color: var(--c-primary-dark);
        transition: color var(--tr-base);

        &:hover {
            color: var(--c-primary-darker);
        }
    }
}

.containerExampleAndTranslation {
    i {
        font-size: var(--fs-example);
        color: var(--c-grey-dark);
    }
}

.tableContainer {
    position: relative;
    color: var(--c-font-global);
    width: fit-content;

    svg[data-svg-audio] {
        position: absolute;
        top: 12px;
        right: 60px;
        height: 20px;
        z-index: 10;
    }
}

.table {
    --table-pd-side: var(--pd-xl);

    padding: 0 var(--table-pd-side);
    // background: var(--c-primary-lighter);
    border-radius: var(--br-base);
    border: 2px solid var(--c-grey-light);
    border-style: dotted;

    .heading,
    .value {
        font-size: var(--fs-sm);
    }

    .value {
        b {
            color: var(--c-font-global);
        }

        u {
            text-decoration: none;
            color: var(--c-verb-stem);
        }

        b[data-verb-stem] {
            color: var(--c-verb-stem);
        }

        b[data-verb-prefix] {
            color: var(--c-verb-prefix);
        }

        i {
            font-style: normal;
            color: var(--c-verb-prefix);
        }

        &.prefix {
            font-weight: 800;
            color: var(--c-verb-prefix);
        }
    }

    .heading {
        font-weight: 600;
        text-align: left;
        height: 35px;
        min-width: 125px;
    }

    .headings {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            height: 5px;
            bottom: 0;
            left: calc(var(--table-pd-side) * -1);
            width: calc(var(--table-pd-side) * 2 + 100%);
            background: transparent;
            border: none;
            border-bottom: 2px solid var(--c-grey-light);
            border-bottom-style: dotted;
        }
    }

    .row {
        position: relative;

        &:not(:last-child):after {
            content: '';
            position: absolute;
            height: 5px;
            bottom: 0;
            left: calc(var(--table-pd-side) * -1);
            width: calc(var(--table-pd-side) * 2 + 100%);
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--c-grey-light);
            border-bottom-style: dotted;
        }
    }

    .rowBackground {
        background-color: var(--c-primary-lighter);
    }

    // // // .table,
    // // // .headings,
    // .value {
    //     border-right: 2px solid var(--c-grey-light);
    //     border-right-style: dotted;
    //     border-collapse: collapse;
    // }

    .headings,
    .row {
        height: 30px;
    }

    // .value {
    //     height: 35px;
    // }

}