@use '../../styles/mixins.scss';

.containerModal {
    pointer-events: none;
    cursor: pointer;
    position: fixed;
    z-index: 800;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;

    &.open {
        pointer-events: all;
        opacity: 1;
    }

    &.closed {
        pointer-events: none;
        opacity: 0;
    }
}

.containerModal.open .background {
    opacity: 1;
    backdrop-filter: blur(10px);
}

.background {
    // display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--tr-base);

    &.blurred {
        backdrop-filter: blur(0);
    }

    &.dark {
        background: rgba(0, 0, 0, 0.2);
    }
}

.wrapRelative {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    --pd-modal-vertical: 40px;
    --pd-modal-horitz: 90px;

    container-type: size;
    cursor: default;
    box-sizing: border-box;
    position: absolute;
    height: 85vh;
    width: 90vw;
    max-width: 700px;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    background: var(--bg-white);
    transform: translate(-50%, -50%);
    overflow: visible;

    &.widerVersion {
        max-width: 1000px;
    }

    &.signUpVersion {
        max-width: 700px;
    }

    &.paddingBase {
        padding: 60px 100px 80px 80px;
    }
}

.container div[data-exercise] {
    opacity: 0;
    transition: opacity var(--tr-fast) 0.1s;
}

.containerModal.open .container div[data-exercise] {
    opacity: 1;
}

div.btnClose {
    position: absolute;
    top: var(--pd-xl);
    right: var(--pd-xl);
    z-index: 1000;
}


@include mixins.vertical-900 {
    .container {
        height: 90vh;
        max-width: 650px;
    }
}

@include mixins.mobile {
    .container {
        --pd-modal-horitz: 15px;
        --pd-modal-vertical: var(--pd-modal-horitz);

        height: 90vh;
    }

    div.btnClose {
        top: var(--pd-md);
        right: var(--pd-md);
    }
}

@include mixins.vertical-750 {
    .container {
        height: 95vh;
    }
}