@use '../../../styles/mixins.scss';

.pageContent {
    width: var(--width-page-content-wider);
    margin: auto;
    margin-top: var(--mg-page-top);

    h1 {
        font-size: var(--fs-xl);
    }
}

@include mixins.desktop-lg {
    .pageContent {
        width: var(--width-page-content-wider);
        margin: auto;
        margin-top: var(--mg-page-top);
        // transform: translateX(-50px);
    }
}

.sourceContainer {
    display: flex;
    flex-direction: column;

    a {
        color: var(--c-primary-dark);
        font-size: var(--fs-sm);
        font-style: italic;
    }
}