div.container {
    position: relative;
    border-radius: var(--br-base);
    padding: var(--pd-lg) var(--pd-lg) var(--pd-lg) var(--pd-2xl);
    background-color: var(--c-primary-lighter);

    p {
        font-size: calc(var(--fs-xs) + 0.1);
        color: var(--f-color-global-light);
        padding: 0;
        margin: 0;
    }

    strong {
        font-weight: 600;
        color: var(--f-color-global-lighter);
    }

    svg,
    .emoji {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}