.header {

    --header-height: 60px;
    --header-z-index: 50;
    --searchBar-max-width: 350px;

    display: grid;
    grid-template-columns: var(--header-height) 300px var(--searchBar-max-width) auto 350px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    // box-shadow: 0px -2px 11px 0px var(--c-primary-lighter);
    border-bottom: 1px solid var(--c-grey-lightest);
    z-index: var(--header-z-index);
}

.burgerContainer {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 70;

    svg {
        color: var(--c-icon);
        width: 25px;
        transition: color var(--tr-base);
        z-index: 70;
    }

    &:hover svg {
        color: var(--c-font-global);


    }
}

.logoContainer {
    position: relative;
    opacity: 1;
    margin: auto;


    svg {
        width: 100px;
        transform: translate(-80px, 3px);
    }
}

.searchBarContainer {
    display: flex;
    align-items: center;
    grid-column-start: 3;
    height: 100%;

    input::placeholder {
        font-weight: 500;
    }
}

.linksContainer {
    --btn-fs: var(--fs-xs);

    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;
    grid-column-start: 4;
    grid-row-start: 1;
    height: 100%;
    margin-left: 90px;

    a, .item {
        cursor: pointer;
        color: var(--c-font-global-light);
        text-decoration: none;
        font-size: var(--fs-sm);
        font-weight: 600;
        transition: color var(--tr-base);

        &:hover,
        &:hover + svg {
            color: var(--c-primary-dark);
        }
    }
}

.itemContainer {
    position: relative;
    display: flex;

    svg[data-svg-chevron] {
        width: 9px;
        height: auto;
        color: var(--c-grey-dark);
        margin-left: 8px;
        transform: scaleY(0.7);
    }
}

.submenu {
    pointer-events: none;
    position: absolute;
    display: flex;
    column-gap: 40px;
    left: 50%;
    top: 60px;
    width: max-content;
    background-color: var(--bg-white);
    padding: var(--pd-lg);
    margin: 0;
    opacity: 0;
    border-radius: var(--br-base);
    box-shadow: -1px 1px 8px -3px var(--c-primary-light);
    transform: translate(-50%, 8px);

    &.isOpen {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, 0px);
        transition: opacity var(--tr-base), transform var(--tr-base);
    }
}

.listSubmenu {
    padding: 0;
}

.listTitle {
    text-decoration: underline;
    font-weight: 600;
    margin: 0;
    margin-bottom: var(--mg-xs);
    color: var(--c-primary-dark);
}

.itemSubmenu {
    text-decoration: none;
    list-style-type: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.9);
    // background: var(--bg-white);
    backdrop-filter: blur(2px);
}

.authenticationContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-column-start: 5;
    display: flex;
    align-items: center;
    gap: var(--mg-md);
}