.header {

    --header-height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0px -2px 11px 0px var(--c-primary-lighter);
    z-index: 50;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    // background: var(--bg-white);
    backdrop-filter: blur(2px);
}