.container {
    // width: 250px;
    // height: 100px;
    margin-bottom: 90px;
    margin-top: 60px;
}

.containerTitle {
    display: flex;
}

.translation {
    font-weight: 300;
    color: var(--c-font-global-lighter);
    font-size: var(--fs-xs);
    margin: 0 0 var(--mg-xl);
}

.description {
    color: var(--c-font-global);
    font-size: var(--fs-global);
    width: 80%;
    max-width: 850px;

    i {
        font-weight: 300;
        color: var(--c-font-global-lighter);
    }
}