.container {
    // width: 250px;
    // height: 100px;
    margin-bottom: 90px;
    margin-top: 60px;
}

.containerTitle {
    display: flex;
}

.description {
    font-size: var(--fs-global);
    width: 80%;
}