.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: transparent;
    border: 1px solid var(--c-font-global);

    p.text {
        color: var(--c-black);
        margin: 0;
        font-weight: 600;
    }
}

