.container {
    --pd-collapsible: var(--pd-lg);
    --height-opener: 100px;
    --mg-bottom-collapsible: 90px;

    display: grid;
    grid-template-columns: var(--width-page-content) var(--width-page-additional-content);
    column-gap: var(--pd-sm);
    width: fit-content;
    margin: 0 auto var(--mg-bottom-collapsible) auto;
    overflow: hidden;
}

.collapsibleContent {
    display: grid;
    grid-row-start: 2;
    padding: 0 var(--pd-collapsible) var(--pd-collapsible) calc(var(--pd-collapsible) + 15px);
    grid-template-columns: repeat(3, 33.3%);

    button {
        margin-top: var(--mg-lg);
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.clickableOpener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--pd-collapsible) + 15px);
    height: var(--height-opener);
    border-bottom: 1px dotted var(--c-border-dotted);

    h2 {
        margin-top: 0;
    }


}

.tablesContainer {
    border: 3px dotted var(--c-border-dotted);
    background-color: var(--bg-main-light);
    border-radius: 10px;
}

.containerExamples {
    border: 3px dotted var(--c-border-dotted);
    border-radius: 10px;
    padding: 0 var(--pd-collapsible) var(--pd-collapsible) var(--pd-collapsible);
}

.description {
    margin: 0;
    font-size: var(--fs-sm);
}