.container {
    --info-circle-color: var(--c-grey-light);
    --info-circle-height: 35px;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: var(--bg-main);
    width: min-content;
    padding: 10px 25px 10px 15px;
    border-radius: var(--br-base);

    p {
        position: relative;
        font-size: var(--fs-sm);
        font-weight: 500 !important;
        color: var(--c-font-global-lighter) !important;
        margin: 0;
        line-height: var(--info-circle-height);
    }
}

.detail {
    padding-left: 40px;
    text-wrap: nowrap;
    font-size: var(--fs-sm);

    &:after {
        content: "";
        position: absolute;
        left: 20px;
        top: 50%;
        height: 25px;
        width: 1px;
        background: var(--c-grey-lighter);
        transform: translateY(-50%);
    }
}

.level {
    position: relative;
    margin-right: 20px;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        top: 50%;
        left: 50%;
        border-radius: 100px;
        background: red;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

p.separator {
    padding: 0 var(--pd-lg);
    font-weight: 100;
}