@use '../../styles/mixins.scss';

.container {
    --size-btn: 50px;

    cursor: pointer;
    position: relative;
    width: var(--size-btn);
    height: var(--size-btn);
    border-radius: var(--size-btn);
    background: var(--c-primary-lighter);
    transition: background var(--tr-base);

    &:hover {
        background: var(--c-primary-lighter-hover);
    }

    svg {
        position: absolute;
        height: 15px;
        width: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.85);
        transition: transform var(--tr-base);
    }
}

@include mixins.mobile {
    .container {
        --size-btn: 40px
    }
}