.container {
    box-sizing: border-box;
    width: 100%;
    background: var(--bg-white);
    border-radius: 20px;
    padding: var(--mg-md) var(--mg-xl);
    height: fit-content;
}

.verb {
    color: var(--c-grey);
    margin: 0;
}

.verb,
.underlined {
    margin: 0;
    padding: 0;
}

.underlined {
    color: var(--c-font-global);
}

.title {
    font-weight: 400;
    font-size: var(--fs-sm);
    margin: 0 0 var(--mg-sm) 0;
}

.verbContainer {
    position: relative;
}

.underlined {
    text-decoration: underline;
    font-weight: 600;
}

.progress {
    position: absolute;
    left: -22px;
    height: 35px;
    top: 3px;
}

.completed {
    color: var(--c-primary);
    margin: 0;
}