.container {
    pointer-events: none;
    display: relative;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -310px;
    width: 300px;
    height: 100%;
    padding: 90px 30px;
    opacity: 0;
    background: var(--bg-white);
    border-radius: var(--br-base);
    transition: opacity var(--tr-fast) ease-in;

    div[data-btn-back] {
        position: absolute;
        right: 0;
        top: -50px;
        padding: 0;
    }

    &.isOpen {
        pointer-events: all;
        opacity: 1;

        .content {
            opacity: 1;
            transform: translateX(0px);
            transition: transform var(--tr-base) ease-in, opacity var(--tr-base);
        }
    }

    &.isEmbedded {
        position: absolute;
        top: 0;
        right: var(--exercise-width);
        left: unset;
        width: 250px;
        background: var(--c-whitest);
        border: 3px dotted lightgrey;

        .row {
            height: 45px;
            font-size: var(--fs-xs);
            grid-template-columns: 55px auto;
        }

        .table {
            border: none;
        }
    }

    .title {
        font-size: var(--fs-sm);
    }
}

.content {
    opacity: 0;
    transform: translateX(20px);
    transition: transform var(--tr-base) ease-in, opacity var(--tr-fast);
}

.title {
    font-size: var(--fs-lg);
    font-weight: 600;
}

.table {
    margin-top: var(--mg-lg);
    border: 2px solid var(--c-grey-light);
    border-style: dotted;
    border-radius: var(--br-base);
    transition: opacity var(--tr-base);

        b {
            color: var(--c-font-global-light);
            font-weight: 500;
        }

        u {
            text-decoration: none;
            color: var(--c-verb-stem);
        }

        i {
            font-style: normal;
            color: var(--c-verb-prefix);
        }

        &.prefix {
            color: var(--c-verb-prefix);
        }
}

.row {
    display: grid;
    grid-template-columns: 75px auto;
    font-size: var(--fs-sm);
    color: var(--c-font-global);
    height: 50px;

    &:not(:last-child) {
        border-bottom: 2px solid var(--c-grey-light);
        border-bottom-style: dotted;
    }

    .val {
        margin: var(--mg-xs) 0 0 0;
        align-self: center;
    }

    .val:first-child {
        margin-left: 20px;
    }

    // .val:last-child {
    //     font-weight: 600;
    // }
}