.container {
    --verb-title-height: auto;
    --verb-title-mb: var(--mg-sm);
    --info-circle-color: var(--c-grey-lighter) !important;

    box-sizing: border-box;
    width: 100%;
    min-height: 103px;
    background: var(--bg-white);
    border-radius: 20px;
    padding: var(--mg-md) var(--mg-xl);
    height: fit-content;

    p {
        font-size: var(--fs-2xs);
    }

    p[data-verb-title] {
        font-size: var(--fs-global);
        color: var(--c-font-global-light);
        font-weight: 700;
        margin: 0;
    }

    svg {
        height: 15px;
    }

    div[data-verb-details] {
        margin-bottom: 0;
    }
}

.translation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: var(--mg-sm);
    font-size: var(--fs-2xs);
    font-style: italic;
    color: var(--c-font-global-lighter);
}

.verb,
.underlined {
    margin: 0;
    padding: 0;
}

.underlined {
    text-decoration: underline;
    font-weight: 600;
}

.tense {
    margin: 0;
    font-size: var(--fs-sm);
}

.active {
    text-decoration: underline;
    font-weight: 600;
}

.success {
    color: var(--c-primary);
}

.error {
    color: red;
}

.inactive {
    color: var(--c-grey);
    font-weight: 400;
}

.title {
    font-weight: 400;
    font-size: var(--fs-sm);
    margin: 0 0 var(--mg-sm) 0;
}